body{ background-color: aqua;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lll{
    text-align: center;
    color: #d31b1b;
}
.h1{
    text-align: center;
}
.h2{
    text-align: center;
}
